spring:
  config:
    import: optional:configserver:http://localhost:8888

  application:
    name: bookmark-service

  datasource:
    url: jdbc:mysql://localhost:3306/bookmark_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: Pavitra@22

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/