server:
  port: 8080

spring:
  main:
    web-application-type: reactive
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**
        - id: grievance-service
          uri: lb://grievance-service
          predicates:
            - Path=/grievances/**
        - id: bookmark-service
          uri: lb://bookmark-service
          predicates:
            - Path=/bookmarks/**
      discovery:
        locator:
          enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
