server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: grievance-service
  config:
    import: optional:configserver:http://localhost:8888
  datasource:
    url: jdbc:mysql://localhost:3306/grievance_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: Pavitra@22
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true